<!--Menu lateral de la aplicación-->

<header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <!-- logo -->
      <span class="logo-lg"><b>SINVEX</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Control Sidebar -->
          <li>
            
            <a type="button" class="px-3 btn btn-danger" href="/logout">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/100pxBL.png" class="img" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Administrador</p>
        </div>
      </div>
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU</li>
        <li>
          <a href="/administrador/menu-inicio">
            <i class="fa fa-home"></i> <span>Inicio</span>
          </a>
        </li>
        <li>
          <a href="/administrador/usuarios">
            <i class="fa fa-user"></i> <span>Usuarios</span>
          </a>
        </li>

        <li>
          <a href="/administrador/inventario">
            <i class="fa fa-th"></i> <span>Inventario</span>
          </a>
        </li>

        <li>
          <a href="/administrador/contabilidad">
            <i class="fa fa-bar-chart"></i> <span>Contabilidad</span>
          </a>
        </li>

        <li>
          <a href="/administrador/contactos">
            <i class="fa fa-phone"></i> <span>Contactos</span>
          </a>
        </li>

        <li>
          <a href="/administrador/compra">
            <i class="fa fa-usd"></i> <span>Compras</span>
          </a>
        </li>

        <li>
          <a href="/administrador/Clientes">
            <i class="fa fa-users"></i> <span>Clientes</span>
          </a>
        </li>

        <li>
          <a href="/administrador/empresa">
            <i class="fa fa-building"></i> <span>Tu Empresa</span>
          </a>
        </li>

        <li>
          <a href="/administrador/otros">
            <i class="fa fa-th-list"></i> <span>Otros</span>
          </a>
        </li>

    </section>
    <!-- /.sidebar -->
  </aside>