<!--Pagina de pagos pendientes, ligada a la tabla deudas-->

<html>
<%- include('partials/dashmenu.ejs'); %>

  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('partials/dashhead.ejs'); %>
      <form action="/administrador/saveDeuda" method="post">
        <div class="box">
          <div class="box-header with-border">
            <h3>Crear nuevo pago pendiente</h3>
            <h4 class="text-muted">Aquí puedes crear un nuevo pago pendiente</h4>
          </div>
          <!--Tabla de la pagina-->
          <table id="" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Valor de la deuda</th>
                <th>Plazo de la deuda</th>
                <th>Fecha</th>
                <th>Deudor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="number" name="valor_deuda" class="form-control" id=""
                    placeholder="Escriba el valor de la deuda"></td>
                <td><input type="date" class="form-control" id="" name="plazo_deuda"
                    placeholder="Escriba el plazo de la deuda"></td>
                <td><input type="date" name="fecha" class="form-control" id="" placeholder="Escriba la fecha de inicio de la deuda">
                </td>
                <td><input type="text" class="form-control" id="" placeholder="Escriba a quien se le debe"></td>
              </tr>
              </tfoot>
          </table>
          <button type="submit"><i class="fa fa-plus btn btn-success btn-lg"> Agregar deuda </i></button>
          <a type="button" href="administrador/pagos-pendientes"><i class="fa fa-times btn btn-danger btn-lg "> Cancelar</i></a>
        </div>
        <!--/Tabla de la pagina-->
    </div>
    <!-- /.content -->
  </form>


    <%- include('partials/dashfooter.ejs'); %>
      <!-- jQuery 3 -->
      <script src="v1/../bower_components/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap 3.3.7 -->
      <script src="v1/../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- SlimScroll -->
      <script src="v1/../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="v1/../bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="v1/../dist/js/adminlte.min.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="v1/../dist/js/demo.js"></script>
      </div>
      </script>
  </body>

</html>