<!--Pagina para crear estanteria, ligada a la tabla estanteria-->
<html>
<%- include('partials/dashmenu.ejs'); %>

  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <%- include('partials/dashhead.ejs'); %>


        <div class="box">
          <div class="box-header with-border">
            <h3>Crear Nueva Estanteria</h3>
            <h4 class="text-muted">Aquí puedes crear una estanteria nueva</h4>
          </div>
          <form action="saveEstanteria" method="post">
            <!--Tabla de la pagina-->
            <table id="" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" id="" name="nombre" 
                    placeholder="Escriba el nombre de su estanteria">
                  </td>
                </tr>
                </tfoot>
            </table>
            <button type="submit"><i class="fa fa-plus btn btn-success btn-lg"> Agregar Estanteria</i></button>
            <a type="button" href="/administrador/estanteria"><i class="fa fa-times btn btn-danger btn-lg "> Cancelar</i></a>
            <!--/Tabla de la pagina-->
          </form>
        </div>
        <!-- /.content -->
    </div>



    <%- include('partials/dashfooter.ejs'); %>
      <!-- jQuery 3 -->
      <script src="v1/../bower_components/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap 3.3.7 -->
      <script src="v1/../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- SlimScroll -->
      <script src="v1/../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="v1/../bower_components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="v1/../dist/js/adminlte.min.js"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="v1/../dist/js/demo.js"></script>
      </div>
      </script>
  </body>

</html>