<!--Plantilla para informes. Se puede modificar para
usarla en otro tipo de informes-->

<%- include('partials/dashhead.ejs'); %>
  <div class="pull-left image">
    <img src="img/100px.png" class="img" alt="User Image">
    <h3 class="pull-right"> SINVEX - Factura </h3>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Factura de venta</h3>
          <p>Fecha de expedición:</p>
          <p>Hora de expedición:</p>
          <p>Nombre del usuario:</p>
          <div>
            <table id="" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>FECHA</th>
                  <th>VENDEDOR</th>
                  <th>HORA</th>
                  <th>CLIENTE</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>